* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

header {
    height: 80px;
}

.container {
    height: 100%;
    max-width: 1600px;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.header-left {
    height: 100%;
    width: 20%;
    float: left;
    display: flex;
    align-items: center;
}

.header-left img {
    width: 200px;
    margin-left: 20px;
}

.header-right {
    height: 100%;
    width: 60%;
    float: right;
}

.menu a, .menu span {
    text-transform: uppercase;
    color: #564c57;
    font-size: 15px;
}

.menu button {
    margin-right: 20px;
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    color: white;
    background-color: #61ce4d;
}

nav.menu {
    display: flex;
    justify-content: space-between;
}

.menu-item {
    line-height: 80px;
    position: relative;
}

.dropdown-menu {
    box-shadow: 2px 2px lightgrey;
    line-height: 60px;
    position: absolute;
    padding: 0 50px 0 30px;
    transform: translateX(-30px);
    display: none;
    background-color: white;
}

.dropdown-menu a {
    font-size: 13px;
}

nav a {
    text-decoration: none;
}

nav span {
    cursor: pointer;
}

/* stilizzazione main */
main {
    height: calc(100vh - 80px);
    overflow: hidden;
}

.container-main {
    width: 80%;
    margin: 0 auto;
    height: 100%;
    padding: 100px 0;
    color: #1a3c58;
}

.main-left {
    width: 50%;
    float: left;
}

.main-right {
    width: 50%;
    float: left;
}

.main-left span {
    font-size: 53px;
}

.main-left p {
    margin-top: 50px;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 20px;
}

.main-left ul {
    margin-left: 20px;
    font-size: 18px;
    line-height: 30px;
}

.main-right img {
    width: 550px;
    padding: 30px 0 0 30px;
}
