* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

header {
    height: 80px;
}

.container {
    height: 100%;
    max-width: 1600px;
    background-color: green;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.header-left {
    height: 100%;
    width: 20%;
    float: left;
    display: flex;
    align-items: center;
}

.header-left img {
    width: 200px;
    margin-left: 20px;
}

.header-right {
    height: 100%;
    width: 60%;
    float: right;
}

nav.menu {
    display: flex;
    justify-content: space-between;
}

.menu-item {
    line-height: 80px;
    position: relative;
}

.dropdown-menu {
    box-shadow: 2px 2px lightgrey;
    line-height: 60px;
    position: absolute;
    padding: 0 50px 0 30px;
    transform: translateX(-30px);
    display: none;
    background-color: white;
}

nav a {
    text-decoration: none;
}

nav span {
    cursor: pointer;
}

/* stilizzazione main */
main {
    height: calc(100vh - 80px);
}
